/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --filter-border-color: #d9d9d9;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

/****** Header ***********/
.header {
  display: flex;
  justify-content: space-between;
}

.booki-logo {
  height: 19px;
  padding: 30px 0;
}
.header-titles {
  display: flex;
}

.header-link {
  padding-top: 16px;
  margin-left: 68px;
}
.header-link:link,
.header-link:visited {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.header-link:hover,
.header-link:link:active,
.header-link:visited:active {
  color: var(--main-color);
  box-shadow: inset 0 2px 0 0 var(--main-color);
}

/****** Formulaire de recherche ***********/
.title {
  margin: 30px 0 0;
  font-size: 22px;
}

.subtitle {
  margin: 8px 0 35px;
}

.search-bar {
  margin-bottom: 35px;
}

.prepend-search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 49px;
  background-color: var(--main-bg-color);
  border: 1px solid var(--main-bg-color);
  border-radius: 15px 0px 0px 15px;
}

.input-search-bar {
  width: 195px;
  border: 1px solid var(--main-bg-color);
  border-right: 0;
  border-left: 0;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  color: black;
}

.input-search-bar:focus {
  outline: none;
}

.button-search-bar {
  font-weight: 700;
  font-size: 18px;
  width: 132px;
  color: white;
  cursor: pointer;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 0px 15px 15px 0px;
}

.location-dot-style {
  font-size: 18px;
  color: black;
}

/****** Filtre de recherche ***********/
.filter-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin-bottom: 35px;
}

.filter-title {
  font-weight: 700;
  font-size: 18px;
}

.filter-button {
  height: 50px;
  font-weight: 700;
  font-size: 17px;
  border: 2px solid var(--filter-border-color);
  border-radius: 25px;
  background-color: white;
  padding: 4px 19px;
  box-sizing: border-box;
}

.filter-button:hover {
  background-color: var(--filter-bg-color);
}

.filter-icon-style {
  font-size: 18px;
}

.filter-icon-style-money-bill-wave {
  transform: scale(1.087);
  margin-right: 10px;
}
.filter-icon-style-person {
  transform: scale(1.195);
  margin-right: 14.56px;
}
.filter-icon-style-heart {
  transform: scale(1.222);
  margin-right: 10px;
}
.filter-icon-style-fire {
  transform: scale(1.143);
  margin-right: 11.5px;
}

.info-bar {
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.ellipse-info-icon {
  border: 1px solid var(--filter-border-color);
  border-radius: 12px;
  padding: 1.6px 8.2px;
}

.info-icon-style {
  transform: scale(0.666);
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutralStar {
  color: var(--main-bg-color);
}

.icon-star-style {
  transform: scale(1.104);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 15px;
  padding: 30px;
  margin-bottom: 35px;
  box-sizing: border-box;
}

.hebergements-and-populaires a:link {
  text-decoration: inherit;
  cursor: pointer;
}
.hebergements-and-populaires a:visited {
  color: inherit;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.hebergements-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
}

.hebergements-cards a {
  width: 30.86%;
}

.hebergements-cards .card {
  display: flex;
  flex-direction: column;
}

.hebergements-cards img {
  height: 114px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.hebergements-cards .card-content {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.hebergements-cards .card-title {
  margin-top: 9px;
  margin-bottom: 8px;
}

.hebergements-cards .card-subtitle {
  margin: 0;
  margin-bottom: 6px;
  font-size: 14px;
}

.hebergements-cards .card-rating {
  margin-top: 8px;
  margin-bottom: 15px;
  display: flex;
  gap: 2.38px;
}

.show-more {
  font-size: 18px;
  margin: 0;
}
/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-title .chart-icon-style {
  transform: scale(1.125);
}

.populaires-cards .card {
  display: flex;
  margin-top: 30px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
  font-size: 14px;
}

.populaires-cards .card-rating {
  margin-bottom: 10px;
  display: flex;
  gap: 1px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards .card {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}
